<md-dialog class="md-whiteframe-z2">
	<header class="align-center margin-top">
		<i class="text-primary-color normal-font icon ion-happy" style="font-size:4em !important;"></i>
	</header>
	<md-content>
		<h3 class="align-center">WE ARE HAPPY!</h3>
		<p>¡Your are part of the best comunity of readers!</p>
	</md-content>
	<div class="md-actions">
		<md-button class="md-primary" ng-click="hide()">CLOSE</md-button>
		<md-button class="md-primary" ng-click="comeHome()">COME HOME</md-button>
	</div>
</md-dialog>