<md-dialog class="md-whiteframe-z2" ng-init="initAddLecture()">
	<md-content>
		<md-input-container class="no-margin no-padding">
			<label>DATE</label>
			<input type="text" disabled ng-model="datetime" id="datelecture" style="color:#333;" />
		</md-input-container>
		<md-input-container class="no-margin no-padding">
			<label>LAST PAGE</label>
			<input type="number" id="lastpagereaded" />
		</md-input-container>
		<br />
		<p class="margin-top normal-text-color">
			Last page read: <strong class="normal-text-color"> {{lastpagereaded}}</strong>
		</p>
	</md-content>
	<div class="md-actions">
		<md-button class="md-primary" ng-click="hide()">CLOSE</md-button>
		<md-button class="md-primary" ng-click="addLecture()">ADD</md-button>
	</div>
</md-dialog>