<md-dialog class="md-whiteframe-z2">
	<md-content>
		<form>
			<md-input-container class="no-margin no-padding">
				<label>OLD PASSWORD</label>
				<input type="password" ng-model="oldPassword" />
			</md-input-container>
			<md-input-container class="no-margin no-padding">
				<label>NEW PASSWORD</label>
				<input type="password" ng-model="newPassword" />
			</md-input-container>
			<md-input-container class="no-margin no-pading">
				<label>REWRITE YOUR PASSWORD</label>
				<input type="password" ng-model="repeatPassword" />
			</md-input-container>
		</form>
	</md-content>
	<div class="md-actions">
		<md-button class="md-primary" ng-click="hide()">CLOSE</md-button>
		<md-button class="md-primary" ng-click="ok()">OK</md-button>
	</div>
</md-dialog>